*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1170px;
    margin: 0 auto;
}

#banner{
        margin: 50px 0px;
        background: url('../resources/banner-2.jpg');
        padding:100px 200px ;
        background-repeat: no-repeat;
        text-align: center;
        color: white;

}

.categorie{
    text-align: center;
    color: red;
    margin-bottom: 20px;
}
.banner-text h3{
    font-size: 32px;
}

.banner-text h1{
    font-size: 72px;
    font-weight: 700;
}
.off{
    font-size: 88px;
    color: red;
    text-align: center;
    margin-bottom: 30px;
}

.categori-title{
    font-size: 48px;
    color: black;
    margin:20px 0px ;
}

.midnight{
    background: url('../resources/Vectorrr.png');
    display: flex;
    padding: 20px;
    color: white;
    margin: 50px 0px;
}

.midnight-party {
    padding-left:100px ;
    margin-top: 100px;

}

.midnight-party h1{
    font-size: 64px;
    font-weight: 700;
}
.midnight-party p{
    font-size: 18px;
    margin: 20px 0px;
    padding-right: 100px;
}

.mid-btn {
    padding:10px  20px ;
    font-weight: 700;
    font-size: 20px;

}

.address-timing{
    background-image: linear-gradient(#ec14b6e0, rgba(0, 238, 255, 0.63));
    padding: 50px ;
    text-align: center;
    margin-bottom: 50px;
}

.address-timing button{
    padding: 10px 20px;
    margin-top: 30px; 
    border-radius: 10px;   
    border: none; 
    background-color: red;
    font-weight:700;
    color: white;
}
.red{
    color: red;
}

.sale{
    text-align: center;
    margin: 50px 0;
}

.sale h5{
    font-size: 24px;
}

.sale h1{
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 20px;
}
.sale p{
    padding: 10px 250px;
}

.sale-img{
    background-image: url('../resources/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: space-between;
}

.sale-img image{
    width: 50%;
}

.happy-shopping {
    margin-bottom: 229px;
    margin-left: -56px;
}

.protfolio{
    margin: 50px  0;
}

.protfolio h6{
    font-size: 24px;
    font-weight: 600;
}
.protfolio h1{
    font-size: 48px;
    font-weight: 700;
}
.protfolio p{
    font-size: 20px;
    padding-right: 350px;
}

.protfolio-images{
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 5px;

}

.footer{
    background-color: #070211;
    color: white;
    padding: 50px;
    margin-top: 50px;
}

.footer-first{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer-icons{
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 50px;
}

.footer-icons img{
    margin-left: 20px;
}

.footer-last{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.footer-last button{
    padding: 10px 20px;
    border-radius: 20px;
}